/*leon*/

#page4,#page3,#page2,#page1{
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    margin:0 auto;
  }
  #page4{
    background-image: url();
  }

  #page3{
  background-image: url(../images/bg3.jpg);
  background-size: cover;
}
.pic-width{width:256px;height:232px;}
@media (min-width:1024px){
  .bottom-pic-tp{
    width:55%;
  }
  #page2 h4{
  font-size: 33.525px;
}
  #page2 p{font-size:13.5px;line-height: 125%;}
  h2.fcn{
font-size:26.5px;
color:red;
margin-top:0px;
margin-bottom:0px;
}
h1.fcn{
font-size:29.88px;
line-height: 60px;
color:#e49e1a;
margin-top:0px;
margin-bottom:0px;
}
h3.fcn{
  font-size:27.8px;
margin-top:0px;
margin-top:0px;
margin-bottom:0px;
}
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left:1px;
    padding-right: 10px;
  }
  .col-my{
    width:37%;
  }
  .col-pic{
    width:24.6%;
  }
 #fullpage #page3 .container,#page2,#page3,#page1,#fullpage #page1 .container{   
  width:768px;
 
 }
#fullpage #page1 .container .col-md-3{
  width:22%;
}
 #fullpage #page2 .container .col-md-3,{
  width:19.5%;/*酒*/
 }
#fullpage #page3 .container .col-md-3{
  width:25%;
}
 #fullpage #page1 .container  .wine-content{
    width:78%;
 }
 #fullpage #page2 .container  .wine-content{
  width:80.9%;
  margin-left:10px;
 }

 .wine-content .col-md-7{
  width:52.3333%;
  
 }
 .tasting .my-col-md{
  margin-left:10px;
  width:60%;
 }
 .wine-content .col-md-5{
  width:40%;
  margin:0 10px 0 25px;
 }
 
 #fullpage #page3 .container  .wine-content{
    width:70%;
    margin-top:5px;
 }
 #page1 .gallery .con-left-top{
    margin-left: -5px;
  }
  .page01-fonttop{
    margin-top:40px;
  }
  .mover-foor{
    position: relative;
    left:30px;
  }
  #fullpage #page3 .container .col-md-jiu{
    width:28%;
    position:relative;
    left:22px;
  }
  #page2 .container .wine{
    width:18%;
  }
  #page2 .container .right{
    width:18%;
  }
 .tasting .my-col-content{
    width:38.2%;
    margin:0px;
  }
  #page2 .page02-top-font{
font-size: 19.965px;
}
#page2 .page02-bottom-font{
  font-size: 14.765px;
}
}

@media (min-width:1200px){
    .bottom-pic-tp{
    width:55%;
  }
  #page2 .page02-top-font{
font-size: 29.46px;
}
#page2 .page02-bottom-font{
  font-size: 23.575px;
}
  #page2 h4{
  font-size: 47.14px;
}
  #page2 p{font-size:22.9px;line-height: 130%;}
  h2.fcn{
font-size:37.265px;
color:red;
margin-top:0px;
margin-bottom:0px;
}
h1.fcn{
font-size:42.18px;
line-height: 60px;
color:#e49e1a;
margin-top:0px;
margin-bottom:0px;
}
h3.fcn{
  font-size:39.375px;
margin-top:0px;
margin-top:0px;
margin-bottom:0px;
}
    #fullpage #page4 .container,#page4,#fullpage #page3 .container,#page3,#page2,#fullpage #page2 .container,#page1,#fullpage #page1 .container{ 
    width:1440px;
  }
    .col-mylg02,.col-mylg{
    width:42%;
  }
   

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  padding-left:10px;
  padding-right:10px;
}
.col-pic{
  width:32.6%;
}
 #fullpage #page2 .container .col-md-3,#fullpage #page1 .container  .col-md-3{
  width:19.5%;/*酒*/
 }
#fullpage #page3 .container .col-md-3{
  width:24%;
}
 #fullpage #page2 .container  .wine-content,#fullpage #page1 .container  .wine-content{
    width:80.5%;
    margin-left:0px;
 }
 .wine-content .col-md-7{
  width:52.3333%;
  /*margin-left:27px;*/
 }
 .wine-content .col-md-5{
  width:40%;
  margin:0 20px 0 40px;
 }
 
 #fullpage #page3 .container  .wine-content{
    width:79%;
    margin-top:42px;
 }
 #page1 .gallery .con-left-top{
    margin-left: -5px;
  }
  .page01-fonttop{
    margin-top:40px;
  }
  .mover-foor{
    position: relative;
    left:20px;
  }
  #fullpage #page3 .container .col-md-jiu{
    width:19.7%;
  }
}
    

/*leon*/
body{
  font-family: Regular;
  font-size: 200%;
  background:#000;
}
@media (max-width: 1300px){
  body{font-size: 120%}
}
@media (max-width: 991px){
  body{font-size: 120%}
}
@media (max-width: 640px){
  body{font-size: 100%}
}
@media (max-width: 360px){
  body{font-size: 80%}
}
.fcn{font-family: "黑体"}

.page{padding: 0}
.page .row > div img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.page > h1{
  margin:20px 0 10px 0;
  font-size: 220%;
  color: #ffd100;
  /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#de9120), to(#ffd100));*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}

.page > h2{margin: 0;color: #bc0000;font-size: 200%;}
.page > h3{margin: 0;font-size: 180%;}
@media (max-width: 991px){
  .wine img{max-width: 40%;}
}


#page1 .gallery .col-md-6{
  margin-top: 7px;
  padding-left: 9px;
  padding-right: 5px;
}
#page1 .gallery .col-md-12{
  padding-left: 10px;
  padding-right: 10px;
}
#page1 .txt{
  font-size: 120%;
  line-height: 190%;
  padding-left: 15%;
}


#page2{
  background-image: url(../images/bg2.jpg);
  background-size: cover;
}
#page2 .left{}
#page2 .right{padding-top: 1%;}

#page2 h4 span{color: #ff0000;}

#page2 .Glory {margin-top: 1%;}


#page3 .wine-content h3{
  font-size: 200%;
  text-shadow: 2px 4px 3px #909090;
  margin: 0 0 35px 30px;
}
@media (max-width: 480px){
  #page3 .wine-content h3{margin-bottom: 20px;}
}
#page3 h4{
  font-size: 180%;
  color: #616060;
  text-align: center;
}
#page3 .tasting{margin-top: 6%;}
#page3 .tasting p{font-size: 120%;color: #696969;}
#page3 .desc{border: 14px solid #a25e5b;background-color:  #fff;padding:14px;font-size: 120%;}
#page3 .desc .content{background-color:  #a25e5b;padding: 35px 10px 50px;color: #fff;word-break:break-all;}

/*leon更改的页面*/
h2.fcn,h1.fcn,h3.fcn{
  font-weight: bold;
}

h4.fcn{margin-top:0px;}
/*.img-size{
  max-width: 52%;
}*/
